#nav{
 padding:0;	
 margin:0px auto; 
 display:table;
}

.nav_item {
  /* tamaño y posicion */
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
	display:table-cell;
  /* Estilos*/
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
	border-left: 0px;
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;
	list-style:none;
  /* Fuente */
  font-weight: bold;
  color: #8AA8BD;
}

#nav li:first-child{
  border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
 #nav li:last-child{
  border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.nav_item > a{
  text-decoration: none;
  color: #8aa8bd;
}
/*Hacemos la flecha */
.nav_item_list:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #8aa8bd transparent;
}
.nav_item .dropdown {
	/* tamaño y posicion */
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
	padding:5px;
  /* Estilo*/
  background: white;
  border-radius: inherit;
  border: 1px solid rgba(0,0,0,0.17);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: normal;
  transition: all 0.5s ease-in;
  list-style: none;
	z-index:20;

  opacity: 0;
  pointer-events: none;
}
.nav_item .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}
.nav_item .dropdown li img {
    float: right;
}
.icon_spa{
	background-image:url("/img/icon_spa.gif");
	width:20px;
	height:20px;
}
 
.nav_item .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}
 
.nav_item .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}
 
/* Estado hover */
 
.nav_item .dropdown li:hover a {
    background: #f3f8f8;
}

.nav_item .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}
 
.nav_item .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.nav_item.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
